<template>
  <div class="TestComponent">
    <div ref="load" />
    <slide-veri ref="veridom" />
  </div>
</template>
<script setup>
import axios from "axios";
import SlideVeri from "@/components/SlideVeri.vue";
import { onMounted, ref } from "vue";
function crashDialyRep() {
  axios
    .get(
      "http://daswebsite.scp.dgyt.petrochina/DasService/DataService/dgytjtgc/cj/jscg"
    )
    .then((res) => {
      console.log(res);
    });
}
const veridom = ref();
onMounted(() => {
  veridom.value.verify();
});
</script>

<style scope></style>
