<template>
  <el-input type="date" size="small" v-model="value" :ref="'input'" />
</template>
<script>
/*  <el-date-picker
    v-model="value"
    type="date"
    :ref="'input'"
    :disabled-date="disabledDate"
    :shortcuts="shortcuts"
  >
  <input
    :ref="'input'"
    @keydown="onKeyDown($event)"
    v-model="value"
    onkeydown="this.value=this.value.replace(/[\W]/g,'')"
    onpaste="this.value=this.value.replace(/[\W]/g,'')"
  />*/

import { nextTick } from "vue";
const KEY_BACKSPACE = "Backspace";
const KEY_DELETE = "Delete";
const KEY_ENTER = "Enter";
const KEY_TAB = "Tab";

export default {
  data() {
    return {
      value: "",
      cancelBeforeStart: true,
      shortcuts: [
        {
          text: "Today",
          value: new Date(),
        },
        {
          text: "Yesterday",
          value: () => {
            const date = new Date();
            date.setTime(date.getTime() - 3600 * 1000 * 24);
            return date;
          },
        },
        {
          text: "A week ago",
          value: () => {
            const date = new Date();
            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
            return date;
          },
        },
      ],
    };
  },
  methods: {
    getValue() {
      console.log(this.value, typeof this.value);
      return this.value;
    },

    isCancelBeforeStart() {
      return this.cancelBeforeStart;
    },
    disabledDate(time) {
      return time.getTime() > Date.now();
    },
    setInitialState(params) {
      let startValue;

      if (params.key === KEY_BACKSPACE || params.key === KEY_DELETE) {
        // if backspace or delete pressed, we clear the cell
        startValue = "";
      } else if (params.charPress) {
        // if a letter was pressed, we start with the letter
        startValue = params.charPress;
      } else {
        // otherwise we start with the current value
        startValue = params.value;
      }

      this.value = startValue;
    },

    // will reject the number if it greater than 1,000,000
    // not very practical, but demonstrates the method.
    isCancelAfterEnd() {
      return this.value > 1000000;
    },

    onKeyDown(event) {
      if (event.key === "Escape") {
        return;
      }
      if (this.isLeftOrRight(event) || this.deleteOrBackspace(event)) {
        event.stopPropagation();
        return;
      }

      if (
        !this.finishedEditingPressed(event) &&
        !this.isKeyPressedNumeric(event)
      ) {
        if (event.preventDefault) event.preventDefault();
      }
    },

    isCharNumeric(charStr) {
      return /\d/.test(charStr);
    },

    isKeyPressedNumeric(event) {
      const charStr = event.key;
      return this.isCharNumeric(charStr);
    },

    finishedEditingPressed(event) {
      const key = event.key;
      return key === KEY_ENTER || key === KEY_TAB;
    },

    deleteOrBackspace(event) {
      return [KEY_DELETE, KEY_BACKSPACE].indexOf(event.key) > -1;
    },

    isLeftOrRight(event) {
      return ["ArrowLeft", "ArrowRight"].indexOf(event.key) > -1;
    },
  },

  created() {
    this.setInitialState(this.params);

    // only start edit if key pressed is a number, not a letter
    this.cancelBeforeStart =
      this.params.charPress && "1234567890".indexOf(this.params.charPress) < 0;
  },
  mounted() {
    nextTick(() => {
      // need to check if the input reference is still valid - if the edit was cancelled before it started there
      // wont be an editor component anymore
      if (this.$refs.input) {
        this.$refs.input.focus();
      }
    });
  },
};
</script>
