<template>
  <div>
    <a-table
      v-if="fatherdata && fathercolumns"
      :dataSource="fatherdata"
      :columns="fathercolumns"
      :pagination="fatherpagination"
      :scroll="fatherscroll"
      size="small"
      :bordered="true"
    />
    <a-skeleton v-if="!(fatherdata && fathercolumns)" active />
    <div id=""></div>
  </div>
</template>

<script>
export default {
  props: ["fatherdata", "fathercolumns", "fatherpagination", "fatherscroll"],
  data() {
    return {
      true: true,
    };
  },
  methods: {
    setrowname: () => {
      return "tablerow";
    },
  },
};
</script>

<style>
.tablerow {
  font-size: 10px;
}
</style>
