<!--
* @FileDescription:
-->
<template>
  <div class="PipCheck">
    <div class="ag-toolbar">
      <button
        id="undoBtn"
        class="ag-btn"
        v-on:click="undo()"
        :disabled="agbtndis.undo"
      >
        <el-icon><DArrowLeft /></el-icon>撤销
      </button>
      <button
        id="redoBtn"
        class="ag-btn"
        v-on:click="redo()"
        :disabled="agbtndis.redo"
      >
        <el-icon><DArrowRight /></el-icon>恢复
      </button>
      <button
        id="addrowBtn"
        class="ag-btn"
        v-on:click="addrow()"
        :disabled="agbtndis.addrow"
      >
        <el-icon><Plus /></el-icon>添加行
      </button>
      <button
        id="delrowBtn"
        class="ag-btn"
        v-on:click="delrow()"
        :disabled="agbtndis.delrow"
      >
        <el-icon><Minus /></el-icon>删除行
      </button>
      <button
        id="impoBtn"
        class="ag-btn"
        v-on:click="openImpo()"
        :disabled="agbtndis.import"
      >
        <el-icon><Upload /></el-icon>导入数据
      </button>
      <input
        type="file"
        ref="importElem"
        multiple
        accept="text/plain,text/csv"
        style="display: none"
        :oninput="impotab"
      />
      <button
        id="saveBtn"
        class="ag-btn"
        v-on:click="savetab()"
        :disabled="agbtndis.save"
      >
        <el-icon><UploadFilled /></el-icon>提交至数据库
      </button>
      <button
        id="expoBtn"
        class="ag-btn"
        v-on:click="expotab()"
        :disabled="agbtndis.export"
      >
        <el-icon><Download /></el-icon>下载
      </button>
    </div>

    <ag-grid-vue
      class="ag-theme-balham"
      :rowData="table_data"
      :columnDefs="query_columns"
      undoRedoCellEditing="true"
      enableCellChangeFlash="true"
      :defaultColDef="defaultColDef"
      rowSelection="multiple"
      :onCellValueChanged="onCellValueChanged"
      :onGridReady="onGridReady"
      style="width: 100%; height: 300px"
    ></ag-grid-vue>
  </div>
</template>

<script setup>
import { ElMessage, ElMessageBox } from "element-plus";
import { dbquery } from "@/apis/query";
import columnsnorm from "@/apis/columnsnorm";
//import queryresnorm from "@/apis/queryresnorm";
//import { AgGridVue } from "ag-grid-vue3";
import { ref } from "vue";
var gridApi = null;
var table_data = ref([]);
var raw_data = null;
var raw_id = null;
var query_columns = ref([]);
var gridColumnApi = null;
var agbtndis = ref({
  undo: true,
  redo: true,
  addrow: false,
  delrow: true,
  save: true,
});
//var querying = {};
//var query_result = null;
var defaultColDef = {
  sortable: true,
  resizable: true,
  editable: true,
  wrapText: true,
  autoHeight: true,
};
const coldefs = {
  开发单元: {
    filter: "agTextColumnFilter",
  },
  序号: {
    hide: true,
  },
};
function onGridReady(params) {
  gridApi = params.api;
  gridColumnApi = params.columnApi;
  query();
}

function updateAgbtndis() {
  agbtndis.value.undo = gridApi.getCurrentUndoSize() > 0 ? false : true;
  agbtndis.value.redo = gridApi.getCurrentRedoSize() > 0 ? false : true;
  agbtndis.value.save = gridApi.getCurrentUndoSize() > 0 ? false : true;
  agbtndis.value.delrow = gridApi.getDisplayedRowCount() > 0 ? false : true;
}
function undo() {
  gridApi.undoCellEditing();
}
function redo() {
  gridApi.redoCellEditing();
}
/*
function getFormatDate(date) {
  var y = date.getFullYear();
  var m = date.getMonth() + 1;
  var d = date.getDate();
  return y + (m < 10 ? "-0" : "-") + m + (d < 10 ? "-0" : "-") + d;
}
*/
function addrow() {
  gridApi.applyTransaction({
    add: [""],
  });
  updateAgbtndis();
  agbtndis.value.save = false;
}
function delrow() {
  var selectedRows = gridApi.getSelectedRows();
  gridApi.applyTransaction({ remove: selectedRows });
  updateAgbtndis();
  agbtndis.value.save = false;
}
function onCellValueChanged() {
  updateAgbtndis();
}
function getGridData() {
  const res = [];
  gridApi.forEachNode((node) => {
    res.push(JSON.parse(JSON.stringify(node.data)));
  });
  return res;
}
function autoSizeAll() {
  gridColumnApi.autoSizeAllColumns(true);
}
function getGridId() {
  const gridId = [];
  gridApi.forEachNode(function (node) {
    gridId.push(JSON.parse(JSON.stringify(node.rowIndex)));
  });
  return gridId;
}
console.log("editdata load");
function tabdatatosql(rowObj, database, type = "add", col = "开发单元") {
  console.log("rowObj", rowObj);
  if (type == "add") {
    return `replace INTO ${database} \
   (${Object.keys(rowObj).join(",")}) \
   VALUES ('${Object.values(rowObj).join("','")}') `;
  } else if (type == "delete") {
    return `delete from ${database} \
    where ${col}= '${rowObj[col]}'`;
  }
}
function savetab(rawId = raw_id, rawData = raw_data) {
  var sql = [];
  var sql_del = [];
  console.log(rawId, rawData);
  var wns = [];
  var tabId = [];
  try {
    gridApi.forEachNode((node) => {
      if (Object.keys(node.data).length < 2)
        //录入信息不完整
        throw [0, node.rowIndex];
      else if (wns.includes(node.data["开发单元"]))
        //井记录重复
        throw [-2, node.rowIndex];
      else if (
        (rawId.includes(node.data["序号"]) &&
          JSON.stringify(raw_data[node.data["序号"]]) !=
            JSON.stringify(node.data)) ||
        !rawId.includes(node.data["序号"])
      ) {
        //原纪录修改
        tabId.push(node.rowIndex);
        console.log("修改");
        wns.push(node.data["开发单元"]);
        console.log("啊啊啊", node.data["开发单元"], wns);
        delete node.data["序号"];
        sql.push(tabdatatosql(node.data, "pytrol.checkinterval"));
        console.log(sql);
      } else tabId.push(node.rowIndex);
    });
    console.log(sql);
  } catch (e) {
    console.log("checkflag", e);
    ElMessageBox.alert(
      e[0] == 0
        ? "录入信息不完整"
        : e[0] == -1
        ? "填写正确的开发单元"
        : "井记录重复",
      {
        // if you want to disable its autofocus
        // autofocus: false,
        confirmButtonText: "OK",
      }
    );
    return;
  }
  rawId.forEach((value, index) => {
    if (!tabId.includes(index)) {
      sql_del.push(
        tabdatatosql(rawData[value], "pytrol.checkinterval", "delete")
      );
      console.log("sql_del_sentense", sql_del);
    }
  });
  console.log("sql_del", sql_del);
  //提交数据
  sql = sql_del.concat(sql);
  sql.forEach((value) => {
    dbquery("dbpytrol", value)
      .catch((reason) => {
        ElMessage({
          duration: 0,
          showClose: true,
          type: "error",
          message: reason,
        });
      })
      .then(() => {
        query();
        ElMessage({
          type: "success",
          message: "提交成功",
        });
      });
  });
}

function query() {
  //querying = true;
  var sql = "select * from pytrol.checkinterval ";

  dbquery("dbpytrol", sql)
    .catch(async (err) => {
      ElMessage({
        message: err,
        type: "err",
      });
    })
    .then((result) => {
      if (result.data.err) {
        ElMessage({
          message: result.data.err + ":" + result.data.message,
          type: "error",
        });
      } else if (result.data.length == 0) {
        ElMessage({
          message: "数据为空",
          type: "warning",
        });
      } else {
        //query_result = JSON.parse(JSON.stringify(result.data));

        var temparray = [];
        var temprow = null;
        result.data.forEach((value, index) => {
          temprow = value;
          temprow["序号"] = index;
          temparray.push(temprow);
        });
        query_columns.value = columnsnorm(
          Object.keys(temparray[0]),
          ["field"],
          coldefs
        );
        table_data.value = temparray;
        //console.log(query_columns.value);
        //console.log(table_data.value);
        //console.log("query done");
      }
    })
    .then(async () => {
      updateAgbtndis();
      raw_data = getGridData();
      raw_id = getGridId();
      //autoSizeAll();
    });
}
import { readCSV, toJSON } from "danfojs";
var importElem = ref();
function openImpo() {
  importElem.value.value = "";
  importElem.value.click();
  //var importData = savetab({ tabData: importData });
}
function impotab() {
  if (importElem.value != "") {
    for (const i in importElem.value.files) {
      readCSV(importElem.value.files[i], { encoding: "GB2312" }).then((df) =>
        addrow(toJSON(df))
      );
    }
  }
}
function expotab() {
  gridApi.exportDataAsCsv({ fileName: "区块儿周期" });
}
query();
</script>

<style scoped>
.ag-toolbar {
  margin-bottom: 5px;
}

#expoBtn {
  display: inline;
  float: right;
}
</style>
