<template>
  <div>
    <hot-table ref="hott" :settings="props.settings" />
    <div :id="hotid" />
  </div>
</template>

<script setup>
import "handsontable/dist/handsontable.full.css";
import { HotTable } from "@handsontable/vue3";
//import Handsontable from "handsontable";
import { registerAllModules } from "handsontable/registry";
import { ref } from "vue";

registerAllModules();
var hott = ref();
const hotid = "hottable" + Math.random().toString(36).slice(-8);

const props = defineProps({
  settings: ref(),
});
defineExpose({ hott });
</script>
