<template>
  <div class="PipAlertRenderer">{{ props.params.value }}{{ pot }}</div>
</template>
<script setup>
import { ref, props } from "vue";
var pot = ref(
  props.params.value < 1 ? "🔴" : props.params.value < 365 ? "🟡" : "🟢"
);
console.log("sddddddddddddddddddddddddddddddd", typeof props.params.value);
</script>
<style scoped></style>
