<template>
  <RouterView />
</template>
<script setup lang="ts">
import { RouterView } from "vue-router";
import "ag-grid-enterprise";
import SITECONF from "../conf/siteconf.json";
(function () {
  document.title = SITECONF.name;
})();
(function () {
  var dgc = document.createElement("script");
  dgc.src =
    "http://webanalysis.scp.dgyt.petrochina/api/dgcount.js?code=5507100925124778";
  var dgs = document.getElementsByTagName("script")[0];
  dgs.parentNode.insertBefore(dgc, dgs);
})();
</script>

<style>
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
@import "./assets/base.css";
#app {
  height: 100vh;
  width: 100vw;
}

button,
input {
  margin-right: 5px;
  margin-bottom: 5px;
}
</style>
