<template>
  <div style="width: 100%; height: 100%">
    <el-card>
      <LoginDialog />
      <el-divider />
      <span style="color: red">
        🎇🎆✨为庆祝安倍瘪三归西，本平台于2022年7月8日开启公测。🎉🎉🎉🎉<br />
        账号名：ddfight <br />
        密码：123qweasdzxc <br />
        认准本站测试网址：<br /><a href="http://10.76.180.223:3333"
          >10.76.180.223:3333</a
        >
      </span>
    </el-card>
    <HomeSlider />
  </div>
</template>

<script setup>
import HomeSlider from "@/components/HomeSlider.vue";
import LoginDialog from "@/components/LoginDialog.vue";
</script>

<style>
.el-card {
  position: absolute;
  width: min-content;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 130%;
}
</style>
