<template>
  <div class="mainview">
    <el-container>
      <el-header><header-nav /></el-header>

      <el-main> <workspace-view /></el-main>
    </el-container>
  </div>
</template>

<script setup>
import HeaderNav from "@/components/HeaderNav.vue";
import WorkspaceView from "./WorkspaceView.vue";
</script>

<style scoped>
.mainview {
  height: 100%;
  width: 100%;
}

.el-header {
  width: 100%;
  height: 60px;
  padding: 0%;
}
.el-main {
  height: 100%;
  width: 100%;
  padding: 0%;
}
.el-container {
  height: 100%;
  width: 100%;
}
</style>
<style></style>
